@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    border: none;
}

:root {
    --border-dinamic-layout-color: rgb(155, 155, 155);
}

body {
    width: 100vw;
    min-height: 100vh;
}

header {
    position: relative;
    height: 8vmin;
    width: 100%;
    display: flex;
    justify-content: center;
}

header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 95%;
    background-color: var(--border-dinamic-layout-color);
}

header section {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header section aside.content div.logged {
    display: none;
}

header section aside.content div.connect {
    display: flex;
    gap: 1.5vmin;
}

header section aside.content div.connect button {
    cursor: pointer;
    width: 8vmin;
    height: 4vmin;
    color: rgba(22, 22, 22, 0.884);
    border-radius: 5px;
    transition-duration: .4s;
}

header section aside.content div.connect button.register {
    background-color: white;
}

header section aside.content div.connect button.register:hover {
    background-color: #ececec;
}

header section aside.content div.connect button.login {
    background-color: #db409dc5;
}

header section aside.content div.connect button.login:hover {
    background-color: #db409de1;
}